* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background: url(https://oir.mobi/uploads/posts/2021-01/thumbs/1611928658_29-p-zadnii-fon-dlya-igri-30.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* z-index usage is up to you.. although there is no need of using it because the default stack context will work. */
    z-index: -1; 
    /* z-index is optional */
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text, .text3 {
    margin: 100px auto;
    max-width: 600px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
}
.newBlock {
    padding: 1px;
    width: 100%;
    height: 100%;
    background: #fff;
    height: 100%;
    color: #000;
}

.text2 {
    margin: 0 auto 100px;
    padding: 30px 0;
    max-width: 1200px;
}
.m1{
    margin: 30px;
}